---
import "~styles/style.scss";
import Layout from "../../components/Layout/Layout";
import { t, changeLanguage, language } from "i18next";

changeLanguage("en");

const footerInfo = {
    title: t("index.Footer_Title_Index"),
    phone: t("index.Footer_Phone_Index"),
    email: t("index.Footer_Email_Index"),
    fbLink: t("index.Footer_FbLink_Index"),
    fbInLink: t("index.Footer_InLink_Index"),
};
---

<div class="notfound">
  <Layout
    footerInfo={footerInfo}
    headerInfo={"/404"}
    htmlLang={t("index.htmlLang")}
    description={t("404.Meta_Desc")}
    title={t("404.Meta_Title")}
  >
    <div class="notfound__box">
      <div class="notfound__content">
        <p class="notfound__label">{t("404.LABEL")}</p>
        <div class="notfound__image">
          <img src={"/assets/images/svg/404.svg"} alt={t("ALT")} />
        </div>
        <h1 class="notfound__title">{t("404.TITLE")}</h1>
        <p class="notfound__desc">{t("404.DESC")}</p>
        <p>
          {" "}
          <a class="notfound__link" href={t("404.Home_Page_Url")}>
            {t("404.LINK")}
          </a>
        </p>
      </div>
    </div>
  </Layout>
</div>
